<div *ngIf="this.currencyDetails" class="currency-details-common mat-typography row">
    <div class="col-md-4 col-md-offset-1">
        <div class="currency-item">
            <div class="card-shadow">
                <h1>
                    <b>{{this.currencyDetails.fullName}}</b>
                </h1>
                <img class="currency-image" src="{{this.currencyDetails.image | imageUrlFormatter}}">
                <hr>
                <h4>
                    <b>Creation date</b> |
                    <span appOptional>{{ this.currencyDetails.startDate}}</span>
                </h4>
                <hr>
                <h4>
                    <b>Total coin supply</b> |
                    <span appOptional>{{ this.currencyDetails.totalSupply}}</span>
                </h4>
                <hr>
                <h4>
                    <b>Description</b>
                </h4>
                <div class="description" [innerHTML]="this.currencyDetails.description || 'Not linked'"></div>
            </div>
        </div>
    </div>
    <div class="shadow col-md-6 text-center">
        <div class="row">
            <div *ngIf="isLogged()" class="col-md-12 well">
                <div class="col-md-6 col-sm-12">
                    <span>
                        <b>Your balance</b> | {{this.getUserBalance() | number: '1.5-5'}} USD</span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <span>
                        <b>Price per 1 {{this.currencyDetails.symbol}}</b> | {{this.currencyDetails.priceConversions['USD']
                        | number: '1.5-5'}} USD</span>
                </div>
            </div>
        </div>
        <div *ngIf="isLogged()" class="row well">
            <div class="col-md-6 transaion-container">
                <span>Pay: ${{this.currencyDetails.priceConversions['USD'] | priceCalculator: buyQty.value}}</span>
                <input id="buyInput" appQuantityValidation class="form-controll" type="number" #buyQty [(ngModel)]="buyQuantity" (keyup)="isBuyAffordable(buyQty.value)"
                    placeholder="Qty" min="1" max="100">
                <button id="buyBtn" class="btn btn-success" [disabled]="!affordableBuy" (click)="onBuy()" color="primary">Buy</button>
            </div>
            <div class="col-md-6">
                <span>Get: ${{this.currencyDetails.priceConversions['USD'] | priceCalculator: sellQty.value}}</span>
                <input id="sellInput" appQuantityValidation type="number" #sellQty [(ngModel)]="sellQuantity" (keyup)="isSellAfordable(sellQty.value)"
                    placeholder="Qty" min="1" max="100">
                <button id="sellBtn" class="btn btn-primary" [disabled]="!affordableSell" (click)="onSell()" color="primary">Sell</button>
            </div>
        </div>
        <div class="row">
            <div *ngIf="isLogged() && this.currencyQuantityPurchased >= 0" class="col-md-12 well">
                <span>
                    <b>Quantity purchased</b> |
                    <span id="quantity">{{this.currencyQuantityPurchased}}</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="currency-chart shadow">
                <app-currency-chart *ngIf="!loading" [currancyOHLCData]="currencyData" [currencyName]="currencyDetails?.symbol"></app-currency-chart>
            </div>
        </div>
        <div class="row">
            <div class="row">
                <h1 class="mt-3 pt-3">Analytics</h1>
            </div>
            <div class="currency-analytics">
                <app-currency-analytics></app-currency-analytics>
            </div>
        </div>
    </div>
</div>

<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="border-3 btn btn-primary mr-5 pr-5">Primary</button>

<!-- Secondary, outline button -->
<button type="button" class="btn btn-secondary">Secondary</button>

<!-- Indicates a successful or positive action -->
<button type="button" class="btn btn-success">Success</button>

<!-- Contextual button for informational alert messages -->
<button type="button" class="btn btn-info">Info</button>

<!-- Indicates caution should be taken with this action -->
<button type="button" class="btn btn-warning">Warning</button>

<!-- Indicates a dangerous or potentially negative action -->
<button type="button" class="btn btn-danger">Danger</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Link</button>